body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

svg {
  height: 20px;
}



nav {
  background-color: rgb(128, 205, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
}

#main {
  width: 100%;
}

#displayTodo {
  border-top: 2px solid gainsboro;
  padding: 30px;
}

#welcome {
  height: 40%;
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  padding-top: 180px;
}

#todoForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  font-size: 20px;
}

#myDialog{
  width:30%;
  height: 70%;
  border: 1px solid gainsboro;
  border-radius: 15px;
}

#heading {
  font-size: 30px;
  width: 100%;
}

#sideBar {
  border-right: 1px solid gainsboro;
  background-color: white;
  width: 25%;
  height: 100vh;
  padding: 0 1% 0 1%;
}

#projects {
  background-color: white;
  width: 100%;
  
}

#AddTodo{
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
}

.projectButtons{
  background-color: rgb(238, 237, 237);
  border-radius: 8px;
  padding: 20px 10px 20px 10px;
  margin-bottom:15px;

  display:flex;
  justify-content: space-between;
}

.projectButtons:hover{
  background-color: gainsboro;

}

input{
  height: 25px;
}

textarea{
  height: 60px;
}

select{
  height: 30px;
}

#submit{
  background-color: rgb(128, 205, 231);
  color: black;
}

menu > button{
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
}

menu{
  padding-left: 0px;
}

.delButton{
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.projectButtons:hover .delButton{
  background-color: gainsboro;
  opacity: 1;
  visibility:visible;
}

.todoBox{
  height: 65px;
  border: 1.5px solid gainsboro;
  margin-bottom: 4%;
  padding: 20px;
  border-radius: 13px;
  transition: border-color 0.1s ease;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  
}

.todoBox:hover{
  border-color: rgb(128, 205, 231);
}

.projectName{
  font-size:20px;
  font-weight: 600;
}

.TodoContent{
  /* border: 1px solid black; */
  width: 60%;
  height: 90%;
  padding: 10px;

  /* flex: 2; */
}

.TodoContent > p{
  margin: 1px;
}

.TodoContent p:nth-child(2){
  color: rgb(141, 141, 141);
}

#newProject{
  display: flex;
  justify-content: space-between;
}

#newProject > div {
  font-size:  25px;
  padding-top: 18px;
}

.dueDate{
  background-color: rgb(237, 236, 236);
  color: rgb(103, 103, 103);
  padding: 5px;
  border-radius: 5px;
}

.Low{
  color: #267800;
  padding: 5px 8px;
  background-color: #aad57f;
  border-radius: 5px;
}

.High{
  color: #980000;
  padding: 5px 8px;
  background-color: #e79986;
  border-radius: 5px;
}

.Medium{
  color: #c37004;
  padding: 5px 8px;
  background-color: #f7c76d;
  border-radius: 5px;
}

#viewDialog{
  width:25%;
  height: 68%;
  border: 1px solid gainsboro;
  border-radius: 15px;
  padding: 30px;
}

.viewText{
  font-size: 16px;
  font-weight: 600;
  color: rgb(89, 89, 89);
}

#viewTitle,
#viewDesc,
#viewProject,
#viewPriority,
#viewDueDate,
#viewStatus {
  font-size: 18px;
  margin-top: 3px;
}

.closeDelTodo{
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
}

.x{
  margin-top: 20px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 20px;

  transition: color 0.2s ease;
} 
.x:hover{
  cursor: pointer;
  color: red;
}

.close{
  background-color: rgb(128, 205, 231);
  color: black;
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  margin-left: 80%;
}

.view:hover{
  cursor: pointer;
}

#viewHead{
  display: flex;
  justify-content: space-between;
}


.deleteTodo:hover{
  color: red;
  cursor: pointer;
}


#deleteTodoConfirm{
  width:30%;
  height: 25%;
  border: 1px solid gainsboro;
  border-radius: 15px;
  padding: 30px;
}

#deleteTodoHeader > h2{
  display: inline;
}

#deleteTodoHeader{
  display: flex;
  justify-content: space-between;
}

#deleteTodoConfirm > p{
  font-size: 18px;
}

.DeleteTodo{
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  background-color: rgb(252, 78, 78);
  color:white;
  transition: background-color 0.2s ease;
}

.DeleteTodo:hover{
  background-color: red;
}

#buttons{
  display:flex;
  justify-content:center;
  gap:15px;
  padding-top: 10px;
}

.completed{
  text-decoration: line-through;
}

.completedOpacity{
  opacity: 0.8;
}

#addProject{
  cursor:pointer;
}

#projectDialog{
  width: 30%;
  height: 20%;
  padding: 40px;
}

#projectName{
  width: 80%;
  margin-top: 15px;
}

#cancelProject{
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
}

#createProject{
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  background-color: rgb(128, 205, 231);
}