body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#todoForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#heading {
  background-color: skyblue;
  width: 100%;
}

#sideBar {
  background-color: palevioletred;
  width: 25%;
  height: 100vh;
}
